<div class="reset-page">
    <mat-card>
      <mat-card-content>
        <img src="/assets/images/logo.png" class="logo" alt="COVID Tracking System">
  
        <mat-card-title>Reset Password</mat-card-title>
  
        <form [formGroup]="resetForm" (submit)="onSubmit($event)">
          <mat-form-field appearance="outline">
            <mat-label>Your Email</mat-label>
            <input matInput placeholder="Email" name="email" formControlName="email">
            <mat-icon matPrefix>email</mat-icon>
            <mat-icon matSuffix *ngIf="(resetFormControl.email.touched) && resetFormControl.email.errors">
              error
            </mat-icon>
  
            <mat-hint class="text-danger">
              <span
                *ngIf="(resetFormControl.email.touched) && (resetFormControl.email.errors?.email ||  resetFormControl.email.errors?.pattern)">
                Invalid email.
              </span>

              <span *ngIf="(resetFormControl.email.touched) && resetFormControl.email.errors?.required">
                Email is required
              </span>
            </mat-hint>
          </mat-form-field>  
          <button mat-raised-button color="primary" type="submit" [disabled]="!resetForm.valid" class="reset-button">
            Reset Password
          </button>
        </form>
        
      </mat-card-content>
    </mat-card>
  </div>