<h2 mat-dialog-title>Information</h2>
<mat-dialog-content>

	<mat-form-field>
		<mat-label>Name</mat-label>
		<input matInput placeholder="Patient Name" disabled [value]="patient.name" />
		<mat-icon matPrefix>account_circle</mat-icon>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Birthday Date</mat-label>
		<input matInput placeholder="Birthday Date" disabled [value]="bDate" />
		<mat-icon matPrefix>calendar_today</mat-icon>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Patient Number</mat-label>
		<input matInput placeholder="Patient Number" disabled [value]="patient.patientNumber" />
		<mat-icon matPrefix>local_parking</mat-icon>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Patient Gender</mat-label>
		<input matInput placeholder="Patient Gender" disabled [value]="patient.gender || '--'" />
		<mat-icon matPrefix>face</mat-icon>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Status</mat-label>
		<input matInput placeholder="Patient Status" disabled [value]="patient.status" />
		<mat-icon matPrefix>healing</mat-icon>
	</mat-form-field>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>phone</mat-icon>
				Contacts
			</mat-panel-title>
		</mat-expansion-panel-header>

		<div class="mx-20px">
			<mat-form-field>
				<mat-label>Phone</mat-label>
				<input matInput placeholder="Patient Phone" disabled [value]="patient.contacts.phone" />
				<mat-icon matPrefix>phone</mat-icon>
			</mat-form-field>

			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput placeholder="Patient Email" disabled [value]="patient.contacts.email" />
				<mat-icon matPrefix>email</mat-icon>
			</mat-form-field>
		</div>

	</mat-expansion-panel>

	<mat-expansion-panel *ngIf="symptoms.length != 0">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>local_hospital</mat-icon>
				Symptoms
			</mat-panel-title>
		</mat-expansion-panel-header>

		<mat-list>
			<mat-list-item *ngFor="let symptom of symptoms">{{ symptom | titlecase }}</mat-list-item>
		</mat-list>

	</mat-expansion-panel>

	<mat-expansion-panel *ngIf="observations.length != 0">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<mat-icon>remove_red_eye</mat-icon>
				Observations
			</mat-panel-title>
		</mat-expansion-panel-header>

		<mat-list>
			<mat-list-item *ngFor="let observation of observations">{{ observation | titlecase }}</mat-list-item>
		</mat-list>

	</mat-expansion-panel>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button color="accent" (click)="onClose()">Close</button>
</mat-dialog-actions>