<div class="container">
	<div fxFlex="100" fxLayout="row wrap">
		<div fxFlex="0 1 40%" fxFlex.xs="100" fxFlex.sm="100" fxLayoutAlign="center" class="card-item">
			<ng-template [roleEnable]="['Admin']">
				<mat-card id="card-symptoms">
					<mat-card-header>
						<mat-card-title>
							Number of Symptoms
						</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<app-by-symptoms></app-by-symptoms>
					</mat-card-content>
				</mat-card>
			</ng-template>
		</div>
		<div fxFlex="0 1 30%" fxFlex.xs="100" fxFlex.sm="0 1 50" fxLayoutAlign="center" class="card-item">
			<ng-template [roleEnable]="['Admin']">
				<mat-card class="card-flex-column">
					<mat-card-header>
						<mat-card-title>
							Number of Status
						</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<app-by-status></app-by-status>
					</mat-card-content>
				</mat-card>
			</ng-template>
		</div>
		<div fxFlex="0 1 30%" fxFlex.xs="100" fxFlex.sm="0 1 50" fxLayoutAlign="center" class="card-item">
			<ng-template [roleEnable]="['Admin']">
				<mat-card class="card-flex-column">
					<mat-card-header>
						<mat-card-title>
							Number of Status
						</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<app-by-status></app-by-status>
					</mat-card-content>
				</mat-card>
			</ng-template>
		</div>
	</div>
</div>
<div class="container mb-40px">
	<div fxFlex="100" fxLayout="row wrap">
		<ng-template [roleEnable]="['Admin']">
			<div fxFlex="0 1 50%" fxFlex.xs="100" fxFlex.sm="0 1 50" fxLayoutAlign="center" class="card-item">
				<mat-card>
					<mat-card-header>
						<mat-card-title>
							Number of tests by month
						</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<app-by-month></app-by-month>
					</mat-card-content>
				</mat-card>
			</div>
		</ng-template>
		<ng-template [roleEnable]="['Admin']">
			<div fxFlex="0 1 50%" fxFlex.xs="100" fxFlex.sm="0 1 50" fxLayoutAlign="center" class="card-item">
				<mat-card>
					<mat-card-header>
						<mat-card-title>
							Number of tests by day
						</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<app-by-day></app-by-day>
					</mat-card-content>
				</mat-card>
			</div>
		</ng-template>
	</div>
</div>