<div class="header">
	<table role="presentation" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td class="content-block powered-by">
				<img src="https://i.ibb.co/C77cr4L/covid-black.png" width="100px" alt="Logo">
			</td>
		</tr>
	</table>
</div>