<h2 mat-dialog-title>Information</h2>
<mat-dialog-content>
  <mat-icon matSuffix>account_circle</mat-icon>&nbsp;<b>Patient Name: </b>{{covidTest.patient.name}}
  <br>
  <mat-icon matSuffix>local_parking</mat-icon>&nbsp;<b>Patient Number: </b> {{covidTest.patient.patientNumber}}
  <br>
  <mat-icon matSuffix>copyright</mat-icon>&nbsp;<b>Test Code: </b> {{covidTest.code}}
  <br>
  <div *ngIf="covidTest.notes">
    <mat-icon matSuffix>subject</mat-icon>&nbsp;<b>Notes: </b> {{covidTest.notes}}
  </div>
  <br>
  <mat-icon matSuffix>healing</mat-icon>&nbsp;<b>Status: </b> {{covidTest.status | titlecase}}
  <br>
  <div *ngIf="covidTest.result">
    <mat-icon matSuffix>info</mat-icon>&nbsp;<b>Result: </b> {{covidTest.result}}
  </div>
  <mat-icon matSuffix>calendar_today</mat-icon>&nbsp;<b>Schedule Date: </b>{{scheduleDate}}

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary" (click)="openInformationDialog()">Patient
    Info</button>&nbsp;&nbsp;
  <button class="mat-raised-button mat-warn" (click)="onClose()">Close</button>
</mat-dialog-actions>
