<div id="header">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				<mat-icon>folder_shared</mat-icon>
				Patients
			</mat-card-title>
		</mat-card-header>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Filter
				</mat-panel-title>
			</mat-expansion-panel-header>
			<mat-form-field>
				<mat-label>Field</mat-label>
				<mat-select [(ngModel)]="selectedSearchField" (selectionChange)="selectedSearchFieldMethod()">
					<mat-option *ngFor="let field of filters" [value]="field.value">
						{{field.view}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<br>
			<mat-form-field *ngIf="selectedSearchFieldMethod()==='status'">
				<mat-label>Filter</mat-label>
				<mat-select [(ngModel)]="selectedSearchFilter" (selectionChange)="selectedSearchFilterMethod()">
					<mat-option *ngFor="let filter of status" [value]="filter.value">
						{{filter.view}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field *ngIf="selectedSearchFieldMethod()==='gender'">
				<mat-label>Filter</mat-label>
				<mat-select [(ngModel)]="selectedSearchFilter" (selectionChange)="selectedSearchFilterMethod()">
					<mat-option *ngFor="let filter of genders" [value]="filter.value">
						{{filter.view}}
					</mat-option>
				</mat-select>
				<button mat-button color="accent" [disabled]="!selectedSearchField" (click)="clearFilters()">
					Clear Filters
				</button>
			</mat-form-field>
			<mat-form-field *ngIf="selectedSearchFieldMethod()==='age'">
				<mat-label>Age From</mat-label>
				<input matInput type="number" placeholder="Age" [(ngModel)]="selectedSearchFilterFromAge"
					(change)="selectedSearchFilterMethod()">
			</mat-form-field>
			<br>
			<mat-form-field *ngIf="selectedSearchFieldMethod()==='age'">
				<mat-label>Age To</mat-label>
				<input matInput type="number" placeholder="Age" [(ngModel)]="selectedSearchFilterToAge"
					(change)="selectedSearchFilterMethod()">
			</mat-form-field>
		</mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Sort
				</mat-panel-title>
			</mat-expansion-panel-header>
			<mat-form-field>
				<mat-label>Field</mat-label>
				<mat-select [(ngModel)]="selectedField" (selectionChange)="selectedFieldMethod()">
					<mat-option *ngFor="let field of fields" [value]="field.value">
						{{field.view}}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<br>
			<mat-form-field>
				<mat-label>Order</mat-label>
				<mat-select [(ngModel)]="selectedOrder" (selectionChange)="selectedOrderMethod()">
					<mat-option *ngFor="let order of orders" [value]="order.value">
						{{order.view}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</mat-expansion-panel>
		<mat-card-actions>
			<button mat-button color="primary" (click)="openCreateDialog()">
				<mat-icon>add</mat-icon>
				Adicionar
			</button>
		</mat-card-actions>
	</mat-card>
</div>

<div class="container">
	<div fxFlex="100" fxLayout="row wrap">
		<div fxFlex="0 1 25" fxFlex.xs="100" fxFlex.sm="0 1 50" fxLayoutAlign="center" *ngFor="let patient of result"
			class="card-item">
			<mat-card>
				<mat-card-header>
					<div class="top-avatar"></div>
					<mat-card-title>
						{{ patient.name | titlecase }}
					</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<p>
						<strong>
							<mat-icon>perm_identity</mat-icon>
							Patient Number:
						</strong>
						{{ patient.patientNumber }}
					</p>
					<p>
						<strong>
							<mat-icon>healing</mat-icon>
							Status:
						</strong>
						{{ patient.status }}
					</p>
				</mat-card-content>
				<mat-card-actions>

					<button mat-button [matMenuTriggerFor]="appMenu">
						<mat-icon>more_vert</mat-icon>
						Options
					</button>

					<mat-menu #appMenu="matMenu">
						<ng-template [canUse]="['--view-all']">
							<button mat-menu-item (click)="openInformationDialog(patient)">
								<mat-icon>info</mat-icon>
								View
							</button>
						</ng-template>
						<ng-template [canUse]="['--edit-all']">
							<button mat-menu-item (click)="openEditDialog(patient)">
								<mat-icon>edit</mat-icon>
								Edit
							</button>
						</ng-template>
						<ng-template [canUse]="['--delete-all']">
							<button mat-menu-item (click)="openDeleteDialog(patient)">
								<mat-icon>delete</mat-icon>
								Delete
							</button>
						</ng-template>
					</mat-menu>
				</mat-card-actions>
			</mat-card>
			<!-- <mat-card>
				<mat-card-actions>

					<button mat-button [matMenuTriggerFor]="appMenu">
						<mat-icon>more_vert</mat-icon>
						Options
					</button>

					<mat-menu #appMenu="matMenu">
						<ng-template [canUse]="['--view-all']">
							<button mat-menu-item (click)="openInformationDialog(patient)">
								<mat-icon>info</mat-icon>
								View
							</button>
						</ng-template>
						<ng-template [canUse]="['--edit-all']">
							<button mat-menu-item (click)="openEditDialog(patient)">
								<mat-icon>edit</mat-icon>
								Edit
							</button>
						</ng-template>
						<ng-template [canUse]="['--delete-all']">
							<button mat-menu-item (click)="openDeleteDialog(patient)">
								<mat-icon>delete</mat-icon>
								Delete
							</button>
						</ng-template>
					</mat-menu>
				</mat-card-actions>
				<mat-card-header>
					<div class="top-avatar"></div>
					<mat-card-title>
						{{patient.name}}
					</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<p>
						<mat-icon>healing</mat-icon>
						<b>Status: </b>{{ patient.status }}
					</p>
					<p>
						<mat-icon>perm_identity</mat-icon>
						<b>Patient number: </b>{{ patient.patientNumber }}
					</p>
				</mat-card-content>
			</mat-card> -->
		</div>
		<!-- <div fxFlex="0 1 25%" class="card-item" (click)="openCreateDialog()">
			<mat-card id="add-card">
				<mat-card-header>
					<div class="add-btn"></div>
					<mat-card-title>
						Add Patient
					</mat-card-title>
				</mat-card-header>
			</mat-card>
		</div> -->
	</div>
</div>