<div class="login-page">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Sign In</mat-card-title>
      <form action="">
        <mat-form-field>
          <input matInput placeholder="Email" required name="email">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" required minlength="6" name="password">
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-button">
          Sign In
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
