@import "../../../assets/sass/_variables"

.login-page
	height: 100vh
	background-image: url('/assets/images/covid.jpg')
	background-size: cover
	background-repeat: no-repeat
	background-position: center

	display: flex
	justify-content: center
	align-items: center

mat-card
	padding: 20px 0
	width: 30%
	// margin: 0 auto
	border-radius: 8px
	display: flex
	justify-content: center
	align-items: center

	>mat-card-content
		padding: 1.25rem
		flex: 1 1 auto

		.logo
			width: 100px
			display: block
			margin: 0 auto
			margin-bottom: 1em

		>mat-card-title
			text-align: center
			margin-bottom: 1.5em

mat-form-field,
mat-checkbox,
button
	width: 80%
	display: block
	margin: auto

mat-form-field
	mat-icon[matprefix]
		margin-right: 20px

	&:not(:first-child)
		margin-top: 1.05rem

.login-button
	margin-top: 2rem
	background-color: $dark-color

.mat-form-field-invalid
	border-color: $danger-color
	color: $danger-color

	.mat-input-element
		caret-color: $danger-color

	mat-hint
		color: $danger-color

	mat-icon
		color: $danger-color

.success-icon
	color: green