<h2 mat-dialog-title>Information</h2>
<mat-dialog-content>
  <mat-icon matSuffix>account_circle</mat-icon>&nbsp;<b>Name: </b>{{patient.name}}
  <br>
  <mat-icon matSuffix>calendar_today</mat-icon>&nbsp;<b>Birthday Date: </b>{{bDate}}
  <br>
  <mat-icon matSuffix>local_parking</mat-icon>&nbsp;<b>Patient Number: </b> {{patient.patientNumber}}
  <br>
  <mat-icon matSuffix>healing</mat-icon>&nbsp;<b>Status: </b> {{patient.status}}
  <br>
  <mat-icon matSuffix>phone</mat-icon>&nbsp;<b>Phone Number: </b> {{patient.contacts.phone}}
  <br>
  <mat-icon matSuffix>alternate_email</mat-icon>&nbsp;<b>E-mail: </b> {{patient.contacts.email}}
  <br>
  <div *ngIf="symptoms?.length > 0">
    <mat-icon matSuffix>local_hospital</mat-icon>&nbsp;<b>Symptoms: </b>
    <ul>
      <li *ngFor="let symptom of symptoms"> {{symptom | titlecase}}</li>
    </ul>
  </div>
  <div *ngIf="observations?.length > 0">
    <mat-icon matSuffix>remove_red_eye</mat-icon>&nbsp;<b>Observations: </b>
    <ul>
      <li *ngFor="let observation of observations">{{observation | titlecase}}</li>
    </ul>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button mat-warn" (click)="onClose()">Close</button>
</mat-dialog-actions>
