mat-dialog-content
    width: 100%
    padding: 0 20px

    mat-form-field
        width: 100%

        mat-icon
            margin-right: 0.75rem

        &:not(:last-child)
            margin-bottom: 0.75rem

mat-dialog-actions
    button,.mat-button
        display: flex
        align-items: center
        justify-content: center

        .mat-icon
            width: fit-content
            height: fit-content

        .material-icons
            font-size: inherit
            padding-right: 0.25rem


.mat-expansion-panel
    margin-bottom: 20px

    .mat-expansion-panel-header-title
        display: flex

        .mat-icon
            width: fit-content
            height: fit-content

        .material-icons
            font-size: inherit
            padding-right: 0.25rem

.mat-expansion-panel-body
    padding-top: 50px
    padding-bottom: 50px