<h1 mat-dialog-title>Update your password</h1>
<form [formGroup]="form" (submit)="onSubmit($event)">
	<mat-dialog-content>
		<mat-form-field>
			<mat-label>Old Password</mat-label>
			<input matInput placeholder="Your old password" formControlName="oldPwd" name="oldPwd" type="password" />
			<mat-icon matPrefix>vpn_key</mat-icon>

			<mat-hint>
				<span *ngIf="(formControl.oldPwd.touched) && formControl.oldPwd.errors?.required">
					Old Password is required
				</span>
			</mat-hint>
		</mat-form-field>

		<mat-form-field>
			<mat-label>New Password</mat-label>
			<input matInput placeholder="New Password" type="password" formControlName="newPwd" name="newPwd" />
			<mat-icon matPrefix>vpn_key</mat-icon>

			<mat-hint>
				<span *ngIf="(formControl.newPwd.touched) && formControl.newPwd.errors?.required">
					New Password is required
				</span>
				<span *ngIf="(formControl.newPwd.touched) && formControl.newPwd.errors?.minlength">
					New Password needs minimum 6 characters
				</span>
			</mat-hint>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Confirm Password</mat-label>
			<input matInput placeholder="Confirm Password" type="password" formControlName="confirmPwd"
				name="confirmPwd" [errorStateMatcher]="matcher" />
			<mat-error *ngIf="form.hasError('notSame')">
				Passwords do not match
			</mat-error>
			<mat-icon matPrefix>vpn_key</mat-icon>

			<mat-hint>
				<span *ngIf="(formControl.confirmPwd.touched) && formControl.confirmPwd.errors?.required">
					Confirm Password is required
				</span>
				<span *ngIf="(formControl.confirmPwd.touched) && formControl.confirmPwd.errors?.minlength">
					Confirm Password needs minimum 6 characters
				</span>

			</mat-hint>
		</mat-form-field>

	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button color="primary" type="submit" [disabled]="!form.valid">
			<mat-icon>check</mat-icon>
			Update
		</button>
		<button mat-button color="accent" type="button" (click)="onClose()">
			<mat-icon>cancel</mat-icon>
			Cancel
		</button>
	</mat-dialog-actions>
</form>