<div class="change-page">
	<mat-card>
		<mat-card-content>
			<div id="logo"></div>

			<mat-card-title>Change Password</mat-card-title>

			<form [formGroup]="changeForm" (submit)="onSubmit($event)">
				<mat-form-field>
					<mat-label>Your Password</mat-label>
					<input matInput placeholder="Password" type="password" formControlName="newPassword"
						name="newPassword">
					<mat-error
						[hidden]="(changeFormControl.newPassword.touched) && changeFormControl.newPassword.errors?.required">
						Password is required
					</mat-error>
					<mat-icon matPrefix>lock</mat-icon>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Your Password</mat-label>
					<input matInput placeholder="Password" type="password" formControlName="confirmPassword"
						name="confirmPassword" [errorStateMatcher]="matcher">
					<mat-error [hidden]="changeForm.hasError('notSame')">
						Passwords do not match
					</mat-error>
					<mat-error
						[hidden]="(changeFormControl.confirmPassword.touched) && changeFormControl.confirmPassword.errors?.required">
						Password is required
					</mat-error>
					<mat-icon matPrefix>lock</mat-icon>
				</mat-form-field>
				<button mat-raised-button color="primary" type="submit" [disabled]="!changeForm.valid"
					class="change-button">
					Change
				</button>
			</form>
			<div class="text-right mt-20px">
				<a routerLink="/login" mat-button color="primary">
					Login
					<mat-icon>keyboard_arrow_right</mat-icon>
				</a>
			</div>

		</mat-card-content>
	</mat-card>
</div>