<h2 mat-dialog-title>Edit</h2>

<mat-dialog-content>
  <form [formGroup]="patientForm">
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name">
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Birthday Date</mat-label>
      <input matInput [matDatepicker]="myBirthdayDate" formControlName="birthdayDate">
      <mat-datepicker-toggle matSuffix [for]="myBirthdayDate"></mat-datepicker-toggle>
      <mat-datepicker #myBirthdayDate></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Patient Number</mat-label>
      <input matInput type="number" formControlName="patientNumber">
      <mat-icon matSuffix>local_parking</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select matNativeControl formControlName="status" name="status">
        <mat-option *ngFor="let stat of status" [value]="stat">
          {{stat}}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>healing</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <input matInput type="number" maxlength="9" minlength="9" formControlName="phone">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Sintomas</mat-label>
      <mat-select matNativeControl formControlName="symptoms" name="symptoms" multiple>
        <mat-option *ngFor="let symptom of symptoms" [value]="symptom">
          {{symptom | titlecase}}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>local_hospital</mat-icon>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Observações</mat-label>
      <mat-select matNativeControl formControlName="observations" name="observations" multiple>
        <mat-option *ngFor="let observation of allObservationsArr" [value]="observation.value">
          {{observation.label}}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>remove_red_eye</mat-icon>
    </mat-form-field>
  </form>
</mat-dialog-content>


<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
  &nbsp; &nbsp;
  <button class="mat-raised-button mat-warn" (click)="onClose()">Cancel</button>

</mat-dialog-actions>
