

			<form [formGroup]="loginForm" (submit)="onSubmit($event)">
				<mat-form-field>
					<mat-label>Your Email</mat-label>
					<input matInput placeholder="Email" name="email" formControlName="email">
					<mat-error
						[hidden]="(loginFormControl.email.touched) && (loginFormControl.email.errors?.email ||  loginFormControl.email.errors?.pattern)">
						Invalid email.
					</mat-error>
					<mat-error [hidden]="(loginFormControl.email.touched) && loginFormControl.email.errors?.required">
						Email is required
					</mat-error>
					<mat-icon matPrefix>email</mat-icon>
				</mat-form-field>

				<mat-form-field>
					<mat-label>Your Password</mat-label>
					<input matInput placeholder="Password" type="password" formControlName="password" name="password">
					<mat-error [hidden]="(loginFormControl.password.touched) && loginFormControl.password.errors?.required">
						Password is required
					</mat-error>
					<mat-icon matPrefix>lock</mat-icon>
				</mat-form-field>
				<button mat-raised-button type="submit" [disabled]="!loginForm.valid" class="login-button">
					Sign In
				</button>
			</form>
			<div class="text-right mt-20px">
				<a routerLink="/reset-password" mat-button color="primary">
					Reset Password
					<mat-icon>keyboard_arrow_right</mat-icon>
				</a>
			</div>