::ng-deep .mat-input-underline
    visibility: visible
    z-index: -999
    display: block

mat-dialog-content
    width: 100%
    padding: 0 20px

    mat-form-field
        width: 100%

        mat-icon
            margin-right: 0.75rem

        &:not(:last-child)
            margin-bottom: 0.75rem

mat-dialog-actions
    button,.mat-button
        display: flex
        align-items: center
        justify-content: center

        .mat-icon
            width: fit-content
            height: fit-content

        .material-icons
            font-size: inherit
            padding-right: 0.25rem