<mat-toolbar>
	<mat-toolbar-row class="row">

		<div id="logo">
		</div>

		<div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
			<ul fxLayout="row" fxLayoutGap="20px" class="headerItems">
				<li class="user">
					<a [routerLink]="['/login']" mat-button>
						Sing In
						<mat-icon>send</mat-icon>
					</a>
				</li>
				<li class="user">
					<button mat-button (click)="openPatientDataForm()">
						Patient Data
						<mat-icon>storage</mat-icon>
					</button>
				</li>
			</ul>
		</div>
	</mat-toolbar-row>
</mat-toolbar>