<mat-toolbar>
	<mat-toolbar-row class="row">

		<div id="logo">
		</div>

		<div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
			<ul fxLayout="row" fxLayoutGap="20px" class="headerItems">
				<li>
					<a [routerLink]="['/login']" mat-button>
						<mat-icon>lock</mat-icon>
						Sign In
					</a>
				</li>
				<li>
					<button mat-button (click)="openPatientDataForm()">
						<mat-icon>storage</mat-icon>
						Patient Data
					</button>
				</li>
			</ul>
		</div>
	</mat-toolbar-row>
</mat-toolbar>