<app-header></app-header>

<div class="hero">
    <div class="container">
        <h1 class="text-white">
            Protect yourself and others!
        </h1>

        <button mat-icon-button (click)="scroll(content)">
            <mat-icon>
                keyboard_arrow_down
            </mat-icon>
        </button>

    </div>
</div>
<mat-drawer-container>
    <mat-drawer-content>
        <div class="container px-30px" #content>
            <h2 class="section-title">Prevention Tips</h2>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, repudiandae. A ab,
                adipisci vitae suscipit laborum aliquam libero nisi hic tempore odio. Velit officia dolore doloribus
                dolorum, tenetur est maxime.</p>

            <div class="row" fxLayout="row wrap" fxLayoutWrap>
                <div class="col" fxFlex="0 1 25%">
                    <mat-card class="example-card">
                        <img mat-card-image src="/assets/images/prevention/contact.svg"
                            alt="Avoid contact with other people" class="top-card-image">
                        <mat-card-content>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-content>
                    </mat-card>

                </div>
                <div class="col" fxFlex="0 1 25%">
                    <mat-card class="example-card">
                        <img mat-card-image src="/assets/images/prevention/gloves.svg"
                            alt="Avoid contact with other people" class="top-card-image">
                        <mat-card-content>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-content>
                    </mat-card>

                </div>

                <div class="col" fxFlex="0 1 25%">
                    <mat-card class="example-card">
                        <img mat-card-image src="/assets/images/prevention/sneeze.svg"
                            alt="Avoid contact with other people" class="top-card-image">
                        <mat-card-content>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-content>
                    </mat-card>

                </div>
                <div class="col" fxFlex="0 1 25%">
                    <mat-card class="example-card">
                        <img mat-card-image src="/assets/images/prevention/wash.svg"
                            alt="Avoid contact with other people" class="top-card-image">
                        <mat-card-content>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-content>
                    </mat-card>

                </div>
            </div>
        </div>

        <div class="container px-30px">
            <h2 class="section-title">Symptoms (Most Common)</h2>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, repudiandae. A ab,
                adipisci vitae suscipit laborum aliquam libero nisi hic tempore odio. Velit officia dolore doloribus
                dolorum, tenetur est maxime.</p>

            <div class="row" fxLayout="row wrap" fxLayoutWrap>
                <div class="col" fxFlex="0 1 25%">
                    <mat-card class="example-card">
                        <img mat-card-image src="/assets/images/symptoms/cough.svg"
                            alt="Avoid contact with other people" class="top-card-image">
                        <mat-card-content>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-content>
                    </mat-card>

                </div>
                <div class="col" fxFlex="0 1 25%">
                    <mat-card class="example-card">
                        <img mat-card-image src="/assets/images/symptoms/fever.svg"
                            alt="Avoid contact with other people" class="top-card-image">
                        <mat-card-content>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-content>
                    </mat-card>

                </div>
                <div class="col" fxFlex="0 1 25%">
                    <mat-card class="example-card">
                        <img mat-card-image src="/assets/images/symptoms/headache.svg"
                            alt="Avoid contact with other people" class="top-card-image">
                        <mat-card-content>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-content>
                    </mat-card>

                </div>
                <div class="col" fxFlex="0 1 25%">
                    <mat-card class="example-card">
                        <img mat-card-image src="/assets/images/symptoms/sore-troath.svg"
                            alt="Avoid contact with other people" class="top-card-image">
                        <mat-card-content>
                            <mat-card-title>Shiba Inu</mat-card-title>
                            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-content>
                    </mat-card>

                </div>
            </div>
        </div>


        <div class="footer-dark">
            <div class="row" fxLayout="row wrap" fxLayoutWrap>
                <div class="col" fxFlex="0 1 25%">
                    <img src="/assets/images/logo/covid-white.svg" alt="COVID Tracking System" class="logo">
                    <h3 class="title">COVID Tracking System</h3>
                </div>
            </div>
        </div>

    </mat-drawer-content>
</mat-drawer-container>