<app-header></app-header>

<div class="hero">
    <div class="container">
        <h1 class="text-white">
            Protect yourself and others!
        </h1>

        <button mat-icon-button (click)="scroll(content)">
            <mat-icon>
                keyboard_arrow_down
            </mat-icon>
        </button>

    </div>
</div>
<mat-drawer-container>
    <mat-drawer-content>
        <div class="container px-30px" #content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error iure cum ea eveniet dolor culpa tenetur
            placeat
            beatae. Consequuntur sit cumque at numquam tenetur eaque consectetur labore ex quam nisi!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt cumque explicabo consequatur excepturi
            doloremque
            officiis nobis rerum ipsum, adipisci non? Voluptas eos vero expedita nisi optio, sit tempore aperiam
            tempora!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, similique. Repellendus culpa optio minima
            perspiciatis
            inventore sapiente voluptatibus natus sequi ad! Debitis sint incidunt, aliquid facere dignissimos porro
            delectus!
            Nam.
        </div>
    </mat-drawer-content>
</mat-drawer-container>