<app-header></app-header>

<div class="hero">
	<div class="container">
		<h1 class="text-white">
			Protect yourself and others!
		</h1>

		<button mat-icon-button (click)="scroll(content)">
			<mat-icon>
				keyboard_arrow_down
			</mat-icon>
		</button>

	</div>
</div>
<mat-drawer-container>
	<mat-drawer-content>
		<div class="container px-30px" #content>
			<h2 class="section-title">Prevention Tips</h2>
			<p class="text-center">Here are some preventions tips that you should pay attention.</p>
			<div class="button-section text-center">
				<p>For more information please visit link below.</p>
				<a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html" mat-button
					color="primary" target="_blank">
					<mat-icon>info</mat-icon>
					More Information
				</a>
			</div>
			<div class="row" fxLayout="row wrap" fxLayoutWrap>
				<div class="col" fxFlex="1 1 25%" fxFlex.xs="100" fxFlex.sm="0 1 50">
					<mat-card>
						<img mat-card-image src="/assets/images/prevention/contact.svg" alt="Avoid close contact"
							class="top-card-image">
						<mat-card-content>
							<mat-card-title>Avoid close contact</mat-card-title>
							<mat-card-subtitle>void close contact with people who are sick, even inside your home. Put
								distance between yourself and other people
								outside of your home, remember that, some people without symptoms may be able to spread
								the virus.
							</mat-card-subtitle>
						</mat-card-content>
					</mat-card>

				</div>
				<div class="col" fxFlex="1 1 25%" fxFlex.xs="100" fxFlex.sm="0 1 50">
					<mat-card>
						<img mat-card-image src="/assets/images/prevention/gloves.svg"
							alt="Cover your mouth , nose and hands" class="top-card-image">
						<mat-card-content>
							<mat-card-title>Cover your mouth, nose and hands</mat-card-title>
							<mat-card-subtitle>You could spread COVID-19 to others even if you do not feel sick Everyone
								should wear a cloth face cover and gloves when
								they have to go out in public. Continue to keep distance between yourself and others.
								The cloth face and gloves are not
								a substitute for a social distancing.</mat-card-subtitle>
						</mat-card-content>
					</mat-card>

				</div>

				<div class="col" fxFlex="1 1 25%" fxFlex.xs="100" fxFlex.sm="0 1 50">
					<mat-card>
						<img mat-card-image src="/assets/images/prevention/sneeze.svg" alt="Know how it spreads"
							class="top-card-image">
						<mat-card-content>
							<mat-card-title>Know how it spreads</mat-card-title>
							<mat-card-subtitle>There is currently no vaccine to prevent coronavirus disease 2019
								(COVID-19). The best way to prevent illness is to
								avoid being exposed to this virus.
							</mat-card-subtitle>
						</mat-card-content>
					</mat-card>

				</div>
				<div class="col" fxFlex="1 1 25%" fxFlex.xs="100" fxFlex.sm="0 1 50">
					<mat-card>
						<img mat-card-image src="/assets/images/prevention/wash.svg" alt="Clean and disinfect"
							class="top-card-image">
						<mat-card-content>
							<mat-card-title>Clean and disinfect</mat-card-title>
							<mat-card-subtitle>Clean and disinfect frequently touched surfaces daily. This includes
								tables, light switches, desks, phones, keyboards
								and toilets. Then, use a household disinfectant.</mat-card-subtitle>
						</mat-card-content>
					</mat-card>

				</div>
			</div>
		</div>

		<div class="container px-30px">
			<h2 class="section-title">Symptoms (Most Common)</h2>
			<p class="text-center">Here are some symptoms that you should pay attention.</p>

			<div class="row" fxLayout="row wrap" fxLayoutWrap>
				<div class="col" fxFlex="0 1 25%" fxFlex.xs="100" fxFlex.sm="0 1 50">
					<mat-card>
						<img mat-card-image src="/assets/images/symptoms/cough.svg" alt="Cough" class="top-card-image">
						<mat-card-content>
							<mat-card-title>Cough</mat-card-title>

						</mat-card-content>
					</mat-card>

				</div>
				<div class="col" fxFlex="0 1 25%" fxFlex.xs="100" fxFlex.sm="0 1 50">
					<mat-card>
						<img mat-card-image src="/assets/images/symptoms/fever.svg" alt="High Fever"
							class="top-card-image">
						<mat-card-content>
							<mat-card-title>High Fever</mat-card-title>

						</mat-card-content>
					</mat-card>

				</div>
				<div class="col" fxFlex="0 1 25%" fxFlex.xs="100" fxFlex.sm="0 1 50">
					<mat-card>
						<img mat-card-image src="/assets/images/symptoms/headache.svg" alt="Headache"
							class="top-card-image">
						<mat-card-content>
							<mat-card-title>Headache</mat-card-title>

						</mat-card-content>
					</mat-card>

				</div>
				<div class="col" fxFlex="0 1 25%" fxFlex.xs="100" fxFlex.sm="0 1 50">
					<mat-card>
						<img mat-card-image src="/assets/images/symptoms/sore-troath.svg" alt="Sore Troath"
							class="top-card-image">
						<mat-card-content>
							<mat-card-title>Sore Troath</mat-card-title>

						</mat-card-content>
					</mat-card>

				</div>
			</div>
		</div>

		<div class="container px-30px">
			<h2 class="section-title">Current Situation</h2>
			<p class="text-center">Here are some graphics with information about Portugal and the rest of the World.</p>

			<div class="row" fxLayout="row wrap" fxLayoutWrap>
				<div class="col" fxFlex="0 1 50%" fxFlex.xs="100">
					<app-pt-chart></app-pt-chart>
				</div>
				<div class="col" fxFlex="0 1 50%" fxFlex.xs="100">
					<app-world-chart></app-world-chart>
				</div>

			</div>
		</div>

		<div class="container px-30px">
			<h2 class="section-title">Portugal Situation</h2>
			<p class="text-center">Here are some information about Portugal with more details.</p>

			<div class="row" fxLayout="row wrap" fxLayoutWrap>
				<div class="col" fxFlex="0 1 100%">
					<embed
						src="https://esriportugal.maps.arcgis.com/apps/opsdashboard/index.html#/acf023da9a0b4f9dbb2332c13f635829"
						style="width:100%;" height="800" frameborder="0" />

					<small>
						<strong>Source:</strong>
						<a href="https://covid19.min-saude.pt/ponto-de-situacao-atual-em-portugal/" target="_blank">
							DGS - Ponto de Situação Atual
						</a>
					</small>
				</div>

			</div>
		</div>

		<div class="footer-dark">
			<div class="row" fxLayout="row wrap" fxLayoutWrap>
				<div class="col" fxFlex="0 1 25%" fxFlex.xs="50" fxFlex.sm="50">
					<img src="/assets/images/logo/covid-white.svg" alt="COVID Tracking System" class="logo">
					<h3 class="title">COVID Tracking System</h3>
				</div>
				<div class="col" fxFlex="0 1 75%" fxFlex.xs="50" fxFlex.sm="50">
					<mat-list role="list">
						<mat-list-item role="listitem">
							<a href="mailto:covidtrackingsystem@gmail.com">
								<mat-icon>email</mat-icon>
								covidtrackingsystem@gmail.com
							</a>
						</mat-list-item>
						<mat-list-item role="listitem">
							<a href="tel:tel:808300201">
								<mat-icon>phone</mat-icon>
								808 300 201
							</a>
						</mat-list-item>
					</mat-list>

				</div>
			</div>
		</div>

	</mat-drawer-content>
</mat-drawer-container>