<h1 mat-dialog-title>Edit User</h1>
<form [formGroup]="userForm" (submit)="onSubmit($event)">
	<mat-dialog-content>
		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput placeholder="User names" formControlName="name" name="name" />
			<mat-icon matPrefix>account_circle</mat-icon>

			<mat-hint>
				<span *ngIf="(userFormControl.role.touched) && userFormControl.role.errors?.required">
					Name is required
				</span>
			</mat-hint>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Email</mat-label>
			<input matInput placeholder="User email" type="email" formControlName="email" name="email" />
			<mat-icon matPrefix>email</mat-icon>

			<mat-hint>
				<span *ngIf="(userFormControl.role.touched) && userFormControl.role.errors?.required">
					Email is required
				</span>
				<span *ngIf="(userFormControl.role.touched) && userFormControl.role.errors?.email">
					Email is invalid
				</span>
				<span *ngIf="(userFormControl.role.touched) && userFormControl.role.errors?.pattern">
					Email is invalid
				</span>
			</mat-hint>
		</mat-form-field>

		<mat-form-field>
			<mat-label>Role</mat-label>
			<mat-select formControlName="role" name="role">
				<mat-option *ngFor="let role of roles" [value]="role._id">
					{{ role.name | titlecase }}
				</mat-option>
			</mat-select>
			<mat-icon matPrefix>admin_panel_settings</mat-icon>

			<mat-hint>
				<span *ngIf="(userFormControl.role.touched) && userFormControl.role.errors?.required">
					Role is required
				</span>
			</mat-hint>
		</mat-form-field>

	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button color="primary" type="submit" [disabled]="!userForm.valid">
			<mat-icon>check</mat-icon>
			Update
		</button>
		<button mat-button color="accent" type="button" (click)="onClose()">
			<mat-icon>cancel</mat-icon>
			Cancel
		</button>
	</mat-dialog-actions>
</form>