<div id="header">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				<mat-icon>supervised_user_circle</mat-icon>
				Users
			</mat-card-title>
		</mat-card-header>
		<mat-card-actions>
			<ng-template [canUse]="['--create-all']">
				<button mat-button color="primary" (click)="openAddDialog()">
					<mat-icon>person_add</mat-icon>
					Add
				</button>
			</ng-template>
		</mat-card-actions>
	</mat-card>
</div>

<div class="container">
	<div fxFlex="100" fxLayout="row wrap">
		<div fxFlex="0 1 25" fxFlex.xs="100" fxFlex.sm="0 1 50" fxLayoutAlign="start"
			*ngFor="let user of users | filter:searchText" class="card-item">
			<mat-card>
				<mat-card-header>
					<div class="top-avatar"></div>
					<mat-card-title>
						{{user.name}}
					</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<p>
						<strong>
							<mat-icon>admin_panel_settings</mat-icon>
							Role:
						</strong>
						{{ user.role.name | titlecase }}
					</p>

					<p id="warning-text" class="accent-color" *ngIf="loggedUserEmail == user.email">
						<mat-icon>warning</mat-icon>
						Logged User!
					</p>
				</mat-card-content>
				<mat-card-actions *ngIf="loggedUserEmail != user.email">

					<button mat-button [matMenuTriggerFor]="appMenu">
						<mat-icon>more_vert</mat-icon>
						Options
					</button>

					<mat-menu #appMenu="matMenu">
						<ng-template [canUse]="['--view-users']">
							<button mat-menu-item (click)="openInfoDialog(user)">
								<mat-icon>info</mat-icon>
								View
							</button>
						</ng-template>
						<ng-template [canUse]="['--edit-users']">
							<button mat-menu-item (click)="openEditDialog(user)">
								<mat-icon>edit</mat-icon>
								Edit
							</button>
						</ng-template>
						<ng-template [canUse]="['--delete-users']">
							<button mat-menu-item (click)="openDeleteDialog(user)">
								<mat-icon>delete</mat-icon>
								Delete
							</button>
						</ng-template>
					</mat-menu>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>