<h1 mat-dialog-title>Update your password</h1>
<form [formGroup]="form" (submit)="onSubmit($event)">
	<mat-dialog-content>
		<mat-form-field>
			<mat-label>Old Password</mat-label>
			<input matInput placeholder="Your old password" formControlName="oldPwd" name="oldPwd" type="password" />
			<mat-error *ngIf="(formControl.oldPwd.touched) && formControl.oldPwd.errors?.required">
				Old Password is required
			</mat-error>
			<mat-icon matPrefix>vpn_key</mat-icon>
		</mat-form-field>

		<mat-form-field>
			<mat-label>New Password</mat-label>
			<input matInput placeholder="New Password" type="password" formControlName="newPassword"
				name="newPassword" />
			<mat-error *ngIf="(formControl.newPassword.touched) && formControl.newPassword.errors?.required">
				New Password is required
			</mat-error>
			<mat-error *ngIf="(formControl.newPassword.touched) && formControl.newPassword.errors?.minlength">
				New Password needs minimum 6 characters
			</mat-error>
			<mat-icon matPrefix>vpn_key</mat-icon>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Confirm Password</mat-label>
			<input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword"
				name="confirmPassword" [errorStateMatcher]="matcher" />
			<mat-error *ngIf="form.hasError('notSame')">
				Passwords do not match
			</mat-error>
			<mat-error *ngIf="formControl.confirmPassword.errors?.required">
				Confirm Password is required
			</mat-error>
			<mat-error *ngIf="formControl.confirmPassword?.touched && formControl.confirmPassword.errors?.minlength">
				Confirm Password needs minimum 6 characters
			</mat-error>
			<mat-icon matPrefix>vpn_key</mat-icon>

		</mat-form-field>

	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button color="primary" type="submit" [disabled]="!form.valid">
			<mat-icon>check</mat-icon>
			Update
		</button>
		<button mat-button color="accent" type="button" (click)="onClose()">
			<mat-icon>cancel</mat-icon>
			Cancel
		</button>
	</mat-dialog-actions>
</form>