<div id="header">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-icon>folder_shared</mat-icon>
        COVID Tests
      </mat-card-title>
    </mat-card-header>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Search
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!--   <mat-form-field>
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field> -->
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sort
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Field</mat-label>
        <mat-select [(ngModel)]="selectedField" (selectionChange)="selectedFieldMethod()">
          <mat-option *ngFor="let field of fields" [value]="field.value">
            {{field.view}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Order</mat-label>
        <mat-select [(ngModel)]="selectedOrder" (selectionChange)="selectedOrderMethod()">
          <mat-option *ngFor="let order of orders" [value]="order.value">
            {{order.view}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-card-actions>
      <button mat-button color="primary" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
        Adicionar
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container">
  <div fxLayout="row wrap" fxLayoutWrap>
    <div fxFlex="0 1 25%" fxLayoutAlign="center" *ngFor="let covidTest of result" class="card-item">
      <mat-card>
        <mat-card-actions>

          <button mat-button [matMenuTriggerFor]="appMenu">
            <mat-icon>more_vert</mat-icon>
            Options
          </button>

          <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="openInformationDialog(covidTest)">
              <mat-icon>info</mat-icon>
              View
            </button>
            <button mat-menu-item (click)="openEditDialog(covidTest)">
              <mat-icon>edit</mat-icon>
              Edit
            </button>
            <button mat-menu-item (click)="openDeleteDialog(covidTest)">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          </mat-menu>
        </mat-card-actions>
        <mat-card-header>
          <div class="top-avatar"></div>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-icon>perm_identity</mat-icon>
            <b>Patient : </b> {{covidTest.patient.name}}
          </p>
          <p>
            <mat-icon>healing</mat-icon>
            <b>Status: </b> {{covidTest.status  | titlecase}}
          </p>
          <p>
            <mat-icon>calendar_today</mat-icon>
            <b>Date: </b> {{covidTest.date.split('T')[0]}}
          </p>
          <p *ngIf="covidTest.result">
            <mat-icon>info</mat-icon>
            <b>Result: </b> {{covidTest.result}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
