<mat-toolbar>
	<mat-toolbar-row>
		<button mat-icon-button (click)="toggleSideBar()">
			<mat-icon>menu</mat-icon>
		</button>

		<div id="logo">
			<!-- <img src="/assets/images/logo.png" class="logo" alt=""> -->
		</div>

		<div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
			<ul fxLayout="row" fxLayoutGap="20px" class="headerItems">
				<li class="user" *ngIf="user">
					<mat-button mat-button [matMenuTriggerFor]="menu">
						<img src="/assets/images/user.png" class="avatar" alt="">
						{{ user.name }}
					</mat-button>

					<mat-menu #menu="matMenu">
						<div class="center">
							<img src="/assets/images/user.png" alt="">

							<h3>{{ user.name }}</h3>
							<small>{{ user.role }}</small>
						</div>

						<mat-divider></mat-divider>

						<button mat-menu-item (click)="openUpdatePasswordDialog()">
							Change Password
						</button>

						<button mat-menu-item class="btn-logout" (click)="logout()">
							<mat-icon>exit_to_app</mat-icon>
							Logout
						</button>
					</mat-menu>
				</li>
			</ul>
		</div>
	</mat-toolbar-row>
</mat-toolbar>